@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
}
canvas {
  display: block;
  border: 1px solid #232f3b;
}
div#buttons-bar {
  margin-bottom: 0.5rem;
}
button {
  margin: 0.55em;
  padding: 0.55em;
}
main {
  display: block;
}
.container {
  flex: 1;
  text-align: center;
}
.p5-container {
  display: flex;
  justify-content: center;
}
.text {
  color:#cecece;
}
.warning {
  font-family: saira, Monospace;
  color: #f0a963;
  border: 0.5px solid #5d564f;
  width: fit-content;
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin: 0.75rem 0rem;
  display: inline-block;
}
#result {
  font-family: saira, Monospace;
  font-size: 24px;
  margin: 0.25em 0em;
}
a {
  font-family: saira;
  color: #ffa791;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #98b976;
}
.footer {
  color:#b6bec4;
  text-align: center;
  padding: 15px;
}